:root {
  --ff-oxanium: "Montserrat", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 7rem;

  --color-green: #53c357;
  --color-acent: #4caf50;
  --color-white: #fff;
  --curve: cubic-bezier(0.42, 0, 0.275, 1.155);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  background-image: url("https://images.unsplash.com/photo-1491644386567-d98960637850?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 200ms linear;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(6px);
  transition: all 200ms linear;
}

/**
 * NOTIFICATION TOAST 
 */

.notification-toast {
  position: fixed;
  bottom: 15px;
  left: 20px;
  right: 20px;
  background: var(--color-white);
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-radius: var(--border-radius-md);
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
  transform: translateX(calc(-100% - 40px));
  transition: 0.5s ease-in-out;
  z-index: 5;
  animation: slideInOut 15s ease-in-out;
}
.notification-toast2 {
  position: fixed;
  bottom: 150px;
  left: 20px;
  right: 20px;
  background: var(--color-white);
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-radius: var(--border-radius-md);
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
  transform: translateX(calc(-100% - 40px));
  transition: 0.5s ease-in-out;
  z-index: 5;
  animation: slideInOut 16s ease-in-out;
}

@keyframes slideInOut {
  0%,
  45%,
  100% {
    transform: translateX(calc(-100% - 40px));
    opacity: 0;
    visibility: hidden;
  }

  50%,
  95% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.notification-toast.closed {
  display: none;
}

.toast-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--sonic-silver);
}

.toast-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.toast-banner {
  width: 70px;
  height: 70px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-sm);
}

.toast-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.toast-detail {
  width: calc(100% - 85px);
  padding-right: 10px;
}

.toast-message {
  font-size: var(--fs-10);
  color: var(--sonic-silver);
  margin-bottom: 8px;
}

.toast-title {
  font-size: var(--fs-7);
  font-weight: var(--weight-500);
  color: var(--onyx);
}

.toast-meta {
  font-size: var(--fs-10);
  color: var(--sonic-silver);
}

.container {
  filter: drop-shadow(0px 0px 25px #68c21a);
  animation: anim 1s infinite linear alternate;
}

@keyframes anim {
  from {
    filter: drop-shadow(1px 1px 20px rbga(201, 13, 13, 1));
  }
  to {
    filter: drop-shadow(0px 5px 0px #68c21a);
  }
}

.slider-image-wrapper {
  height: 130px;
  width: 100%;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
  border-radius: 8px;
}

label#checkbox {
  padding: 10px;
}

.container {
  position: relative;
  max-width: 325px;
  height: auto;
  width: 100%;
  padding: 8px 25px;
  border-radius: 8px;
  background-color: #fff;
}
.container header {
  margin: 4px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

header span {
  color: var(--color-green);
}

form .input-field {
  position: relative;
  height: 55px;
  width: 100%;
}
.input-field input {
  height: 70%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 50px;
  margin-top: 10px;
  padding: 10px 10px;
  border: 1px solid #d1d1d1;
}
.invalid input {
  border-color: #d93025;
}
.input-field .show-hide {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
}
.field .error {
  display: flex;
  align-items: center;
  margin-top: -7px;
  color: #d93025;
  font-size: 10px;
  display: none;
}
.invalid .error {
  display: flex;
}
.error .error-icon {
  margin-right: 6px;
  font-size: 15px;
}
.create-password .error {
  align-items: flex-start;
}
.create-password .error-icon {
  margin-top: 4px;
}
/* .button {
  margin: 25px 0 6px;
} */
.button input {
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--color-green);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input:hover {
  background-color: var(--color-acent);
}

.field-promo {
  display: flex;
}

#promo-code {
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  position: relative;
  padding: 10px;
  display: flex;
  margin-top: 10px;
  max-width: 561px;
  border: 1px solid rgb(209, 209, 209);
  max-height: 30px;
}

.checkbox {
  display: flex;
}

.input-field .checkbox {
  width: 10px;
  height: 10px;
  outline: none;
  border-radius: 8px;
  padding: 0 10px 0 10px;
  border: 1px solid rgb(209, 209, 209);
}
